*{

}

img{
	width: 20%;
	height: 30%;
}

body{
	justify-content: center;
	text-align:center;
	background-color: lightgoldenrodyellow;
}

.container{
	margin-top: 40px;
	background-color: black;
	padding: 20px;
	color:white
}

.head{
	padding:10px;
	background-color: whitesmoke;
}

.footer{
	text-align:center;
	background-color: whitesmoke;
 	color:whitesmoke;
 	padding:20px;
 	margin-top: 100px;
}

